body{
  width: 300px;
  height: 200px;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body > div{
  width: 100%;
  height: 100%;
}
body > div > div{
  width: 100%;
  height: 100%;
}