* {
    box-sizing: border-box;
}

.home {
  display: flex;
  justify-content: center;

  .main-information {
    padding: 1em 2em;
    overflow: auto;
    height: 150px;
    background: #f1f1f1;
    width: 100%;
    
    .no-data,.site-info {
      transition: all 350ms 0ms;
      opacity: 0;
      height: 0;
      &.visible {
        height: 100%;
        transition-delay: 350ms;
        opacity: 1;
      }
    }

    .no-data {
      color: #9a9a9a;
      text-align: center;
    }
    .site-info {
      color: #333;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .status {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        &.regular-site {
          // color: #4d81b9;
        }
        &.salesforce-site {
          color: #4d81b9;
        }
        &.community-site {
          color: #4db95b;
        }
      }
    }
  }

  .button-wrapper {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #a9a9a9;
  }

  button {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    transition: all 200ms;
    color: #fff;
    background: #1b4165;
    border: 2px solid #1b4165;
    padding: 5px 12px;
    display: inline-block;
    text-shadow: 1px 1px #333;
    border-radius: 4px;
    cursor: pointer;
    min-width: 120px;
  }

  
  .success {
    color: #4caf50;
  }
  .warning {
    color: #f49f16;
  }
  .danger {
    color: #d11;
  }
}